# Build output
ft_nmap
*.o
obj/

# Dependency libraries (if added later)
*.a
*.so
*.dylib

# OS metadata
.DS_Store

# Editor files
*~
*.swp
*.swo
.vscode/
.idea/

# unwanted files
get_interface_tocheck
out
test.c
test_ips.txt
